#scoreLimit 
{
  color: black;
  text-align: center;
 
}
#winnerScore {
  color: black;
  text-align: center;

}
#loserScore {
  color: black;
  text-align: center;

}

#playerScore {
  color: black;
  text-align: center;
}